{% extends 'loans/base.html' %}
{% load static %}
{% block content %}

{% if latest_loans_list %}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="{% static 'img/banner.jpg' %}">
    <div class="container text-white">
        <h2>Types of loans</h2>
        </div>
    </section>
    <!--  Page top end -->
    
    <div class="container text-black">
            <div class="col-12 well">
        
                </div>
        <div class="row">
          
                <div class="col-sm-8 ">
    <p>
    {% for loantype in latest_loans_list %}
        <p class="text-green">{{ loantype.loan_name }}</a>
        <p>{{ loantype.description }}</a></p>
    {% endfor %}
    <br>
    </p>
{% else %}
    <p>No Loans are available.</p>
{% endif %}

</div>

<div class="col-sm-4 well">
        
    </div>
    <div class="col-12 well ">
            
                </div>
</div>
</div>


{%endblock%}